body{
font-family: Arial;
background:#f2f2f2;
text-align:center;
}

 
.container{
display:flex;
flex-direction:column;
align-items:center;
}

.form{
margin:20px;
}

input{
padding:8px;
margin:5px;
}

button{
padding:8px 15px;
margin:5px;
background:green;
color:white;
border:none;
cursor:pointer;
}

button:hover{
background:darkgreen;
}

 
table{
margin:20px auto;
border-collapse:collapse;
width:60%;
background:white;
text-align:center;
}

th,td{
border:1px solid black;
padding:10px;
}

th{
background:#333;
color:white;
}

.buttons{
margin:20px;
}

#display{
margin-top:20px;
padding:15px;
width:60%;
margin-left:auto;
margin-right:auto;
background:rgb(205, 219, 219);
 
 
text-align:left;
}
 