body {
    font: 16px/1.5 sans-serif;
    background: LightGray;
    margin: 0;
    padding: 40px 20px;
}

.container {
    background: White;
    padding: 30px;
    margin: auto;
    max-width: 360px;
    border: 1px solid Silver;
    border-radius: 4px;
}

h2 {
    color: Black;
}


#info {
        position: fixed;
        right: 20px;
        bottom: 20px;
        padding: 15px;
        border: 1px solid black;
        background-color: white;
        text-align: left;
    }
button {
    background: blue;
    color: White;
    border: none;
    padding: 10px 20px;
    width: 100%;
    font-weight: bold;
    
}




#result {
    margin-top: 20px;
    padding: 10px;
    border: 1px dashed gray;
    background: Snow;
    color: Black;
}